.banner {
  padding-top: 110px;
}
.banner h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.banner p {
  padding-top: 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 65px;
}
.banner button {
  width: 369px;
  height: 77.58px;
  background-color: #FF4343;
  border-color: #FF4343;
  border-radius: 0;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.testimonials {
  height: 535px;
}
.testimonials .carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border: #7E5D6F 1px solid;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: 25px;
}
.testimonials .carousel-indicators [data-bs-target] button:active {
  background-color: #7E5D6F;
}
.testimonials .testimonials_box {
  width: 1510px;
  height: 490px;
  background-color: #5C3249;
  display: flex;
  flex-wrap: wrap;
}
.testimonials .testimonials_box img {
  width: 740px;
  height: 490px;
}
.testimonials .testimonials_box .testimonials_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 130px;
  padding-top: 133px;
}
.testimonials .testimonials_box .testimonials_text h2 {
  font-family: Cardo;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.testimonials .testimonials_box .testimonials_text h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-right: 170px;
}

.download {
  font-family: "Raleway";
  padding-top: 177px;
  margin-bottom: 112px;
}
.download .download_wrap {
  max-width: 1170px;
  margin: 0 auto;
}
.download .download_wrap h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 16px;
}
.download .download_wrap h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 44px;
}
.download .download_wrap button {
  width: 369px;
  height: 77.58px;
  background-color: #FF4343;
  border-color: #FF4343;
  border-radius: 0;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
  .banner {
    padding-top: 150px;
  }
  .banner h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 34px;
  }
  .banner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 91.57px;
  }
  .banner button {
    width: 313.15px;
    height: 77.58px;
  }
  .testimonials {
    height: 365.49px;
  }
  .testimonials .carousel-indicators [data-bs-target] {
    width: 9.49px;
    height: 9.49px;
    border-radius: 50%;
    margin-left: 25.51px;
  }
  .testimonials .testimonials_box {
    width: 1024px;
    height: 332px;
  }
  .testimonials .testimonials_box img {
    width: 502px;
    height: 332px;
  }
  .testimonials .testimonials_box .testimonials_text {
    padding-top: 57px;
    padding-left: 100px;
  }
  .testimonials .testimonials_box .testimonials_text h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .testimonials .testimonials_box .testimonials_text h6 {
    font-size: 12px;
    line-height: 14px;
    margin-right: 47px;
  }
  .download {
    max-width: 1024px;
    padding-top: 111px;
  }
  .download .download_wrap {
    max-width: 984px;
  }
  .download .download_wrap h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .download .download_wrap h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .download .download_wrap button {
    width: 313.15px;
    height: 77.58px;
  }
}
@media screen and (max-width: 320px) {
  .banner {
    padding-top: 50.27px;
  }
  .banner h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 12px;
  }
  .banner p {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 30px;
  }
  .banner button {
    width: 279.24px;
    height: 58.18px;
  }
  .testimonials {
    height: 570.49px;
  }
  .testimonials .carousel-indicators [data-bs-target] {
    width: 9.49px;
    height: 9.49px;
    margin-left: 20.51px;
  }
  .testimonials .testimonials_box {
    width: 320px;
    height: 570.49px;
  }
  .testimonials .testimonials_box img {
    width: 320px;
    height: 212px;
  }
  .testimonials .testimonials_box .testimonials_text {
    padding-top: 4px;
    padding-left: 20px;
    text-align: center;
  }
  .testimonials .testimonials_box .testimonials_text h2 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 15px;
  }
  .testimonials .testimonials_box .testimonials_text h6 {
    font-size: 12px;
    line-height: 14px;
    margin-right: 20px;
  }
  .download {
    margin-bottom: 45px;
    max-width: 320px;
    padding-top: 67px;
  }
  .download .download_wrap {
    max-width: 280px;
  }
  .download .download_wrap h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .download .download_wrap h5 {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 13.45px;
  }
  .download .download_wrap button {
    width: 278.25px;
    height: 77.58px;
    font-size: 18px;
    line-height: 21px;
  }
}

/*# sourceMappingURL=styles.css.map */
